---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import HeroCurrent from "../components/HeroCurrent.astro";
import Manifesto from "../components/Manifesto.astro";
import ProductTheatre from "../components/ProductTheatre.astro";
import AudienceLens from "../components/AudienceLens.astro";
import FactoryConveyor from "../components/FactoryConveyor.astro";
import QualityGate from "../components/QualityGate.astro";
import Market from "../components/Market.astro";
import Sustain from "../components/Sustain.astro";
import Cta from "../components/Cta.astro";
import WaterFooter from "../components/WaterFooter.astro";
import WhatsApp from "../components/WhatsApp.astro";
---

<Base title="Al Saqi Mineral Water Factory | Your refined choice" description="Al Saqi natural mineral water: refined for daily trust, reliable supply, and lasting partnerships.">
  <Header />
  <main>
    <HeroCurrent />
    <Manifesto />
    <ProductTheatre />
    <AudienceLens />
    <FactoryConveyor />
    <QualityGate />
    <Market />
    <Sustain />
    <Cta />
  </main>
  <WaterFooter />
  <WhatsApp />
</Base>
